{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "html", "svg", "jsx", "tsx", "ts" ],
        "plugins": ["line-numbers"],
        // "theme": "twilight",
        "theme": "tomorrow",
        "css": true
    }]
  ]
}