.nav-bar__container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.nav-bar__container div {
  margin: 0.25rem 0;
}

.nav-bar__logo-container {
  font-size: 26px;
  font-weight: 400;
}

.nav-bar__container ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
}

.nav-bar__link-container li {
  margin: 0 0.2rem;
}

.nav-bar__link-item {
  font-size: 14px;
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .nav-bar__link-item:hover {
    color: #283dbb;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar__container ul {
    justify-content: flex-end;
    width: 75vw;
  }

  .nav-bar__link-container li {
    margin: 0 1rem;
  }

  .nav-bar__link-item {
    font-size: 18px;
  }
}
