html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Work Sans', sans-serif;
}

:root {
  /* font-size: 62.5%; */
  font-size: min(max(1rem, 4vw), 22px);
  font-weight: 200;
  color: var(--text-light-cyan);
  --font-size--small: 1.4rem; /* 14px */
  --font-size--default: 1.6rem; /* 16px */
  --font-size--large: 2.4rem; /* 24px */
}

.font-size--small {
  font-size: var(--font-size--small);
}

.font-size--default {
  font-size: var(--font-size--default);
}

.font-size--large {
  font-size: var(--font-size--large);
}

h1 {
  font-size: var(--font-size--large); 
}

p {
  font-size: var(--font-size--default); 
}